{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/youtube/static/css/style_home.css">
</head>
<body>
    <center class="center">
    <div >
        <figure class="card">
            <a href="{% url 'video' %}">
                <img src="/youtube/static/icons/video.png" height="140px" alt="Vídeo">
            </a>
        </figure>
        <figure class="card">
            <a href="{% url 'music' %}">
                <img src="/youtube/static/icons/music.png" height="140" alt="Música">
            </a>
        </figure>
    </div>
    </center>
</body>
</html>
{% endblock %}